{% load i18n static customfilters %}

<!--begin::Hidden Modal List-->
{% for field in form %}
{% tag_get_product_data field.name as product_data %}
<div class="modal fade"
     id="kt_modal_select_{{product_data.id}}_location"
     tabindex="-1"
     style="display: none;"
     aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog mw-1000px">
        <!--begin::Modal content-->
        <div class="modal-content">
            <!--begin::Modal header-->
            <div class="modal-header"
                 style="justify-content: space-between;">
                <!--begin::Title-->
                <h2>Product Details</h2>
                <!--end::Title-->
                <!--begin::Close-->
                <div class="btn btn-sm btn-icon btn-active-color-primary"
                     data-bs-dismiss="modal">
                    <i class="ki-outline ki-cross fs-1"></i>
                </div>
                <!--end::Close-->
            </div>
            <!--end::Modal header-->
            <!--begin::Modal body-->
            <div class="modal-body">
                <div id="kt_ecommerce_add_product_form"
                     class="form d-flex flex-column flex-lg-row fv-plugins-bootstrap5 fv-plugins-framework"
                     data-kt-redirect="apps/ecommerce/catalog/products.html">
                    <!--begin::Aside column-->
                    <div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px mb-7 me-lg-10">
                        <!--begin::Thumbnail settings-->
                        <div class="card card-flush py-4">
                            <!--begin::Card header-->
                            <div class="card-header">
                                <!--begin::Card title-->
                                <div class="card-title">
                                    <h2>{{product_data.properties.ean}}</h2>
                                </div>
                                <!--end::Card title-->
                            </div>
                            <!--end::Card header-->
                            <!--begin::Card body-->
                            <div class="card-body text-center pt-0">
                                <!--begin::Image input-->
                                <div class="image-input image-input-empty image-input-outline image-input-placeholder mb-3"
                                     data-kt-image-input="true">
                                    <!--begin::Preview existing avatar-->
                                    <div class="image-input-wrapper w-150px h-150px"
                                         style="background-image: url({{product_data.properties.main_image}})">
                                    </div>
                                    <!--end::Preview existing avatar-->

                                </div>
                                <!--end::Image input-->

                            </div>
                            <!--end::Card body-->
                        </div>
                        <!--end::Thumbnail settings-->

                    </div>
                    <!--end::Aside column-->
                    <!--begin::Main column-->
                    <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
                        <!--begin:::Tabs-->
                        <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-semibold mb-n2"
                            role="tablist">
                            <!--begin:::Tab item-->
                            <li class="nav-item"
                                role="presentation">
                                <a class="nav-link text-active-primary pb-4 active"
                                   data-bs-toggle="tab"
                                   href="#kt_ecommerce_add_product_general"
                                   aria-selected="true"
                                   role="tab">General</a>
                            </li>
                            <!--end:::Tab item-->
                            <!--begin:::Tab item-->
                            <li class="nav-item"
                                role="presentation">
                                <a class="nav-link text-active-primary pb-4"
                                   data-bs-toggle="tab"
                                   href="#kt_ecommerce_add_product_advanced"
                                   aria-selected="false"
                                   role="tab"
                                   tabindex="-1">Advanced</a>
                            </li>
                            <!--end:::Tab item-->
                            <!--begin:::Tab item-->
                            <li class="nav-item"
                                role="presentation">
                                <a class="nav-link text-active-primary pb-4"
                                   data-bs-toggle="tab"
                                   href="#kt_ecommerce_add_product_reviews"
                                   aria-selected="false"
                                   tabindex="-1"
                                   role="tab">Reviews</a>
                            </li>
                            <!--end:::Tab item-->
                        </ul>
                        <!--end:::Tabs-->
                        <!--begin::Tab content-->
                        <div class="tab-content">
                            <!--begin::Tab pane-->
                            <div class="tab-pane fade active show"
                                 id="kt_ecommerce_add_product_general"
                                 role="tab-panel">
                                <div class="d-flex flex-column gap-7 gap-lg-10">
                                    <!--begin::General options-->
                                    <div class="card card-flush py-4">
                                        <!--begin::Card header-->
                                        <div class="card-header">
                                            <div class="card-title">

                                                <h2>{% if product_data.properties.name %}
                                                    {{product_data.properties.name}}
                                                    {% elif product_data.properties.ingram_part_description %}
                                                    {{product_data.properties.ingram_part_description}}
                                                    {% endif %}</h2>
                                            </div>
                                        </div>
                                        <!--end::Card header-->

                                    </div>
                                    <!--end::General options-->


                                </div>
                            </div>
                            <!--end::Tab pane-->


                        </div>
                        <!--end::Tab content-->

                    </div>
                    <!--end::Main column-->
                </div>
            </div>
            <!--end::Modal body-->
            <!--begin::Modal footer-->
            <div class="modal-footer d-flex justify-content-end">
                <a href="#"
                   class="btn btn-active-light me-5"
                   data-bs-dismiss="modal">Cancel</a>
                <button type="button"
                        id="kt_modal_select_location_button"
                        class="btn btn-primary"
                        data-bs-dismiss="modal">Okay</button>
            </div>
            <!--end::Modal footer-->
        </div>
        <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
</div>
{% endfor %}
<!--end::Hidden Modal List-->